#notFound {
  background-color: #000;
  padding-top: 6rem;
}
.image {
  height: 80vh;
  background-image: url(../../assets/imgs/error-404-12.jpg);
  background-size: cover;
  background-position: center center;
}
