#about,#best_movies,#video_everyone,#watch_movies{
  padding: 6rem 0;
}
.backGround
{
  position: relative;
  text-align: center;
  padding:12rem 0rem ;
  background-image: url(../../assets/imgs/about.jpg);
  background-size: cover;
  background-position: center center;
}
#about,#watch_movies{
  background-color: #090808;
}
p{
  color: #f5e7ebcc;
}
.info > small{
  color:red;
}
small{
  font-weight: 500;
}
#best_movies{
  background-image: url(../../assets/imgs/watch.jpg);
  background-size: cover;
  background-position: center center;
  position: relative;
}
#best_movies h2 ,#watch_movies h2{
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 1.5rem;
}
#best_movies p ,#watch_movies p{
  color: #fff;
  margin-bottom: 1.5rem;
}
.btn{
  background-color: red !important;
  transition: background-color 0.3s;
}
.btn:hover{
  background-color: rgba(255, 0, 0, 0.698) !important;
}
#video_everyone{
  background-color: #000;
  overflow: hidden;
}
#video_everyone .item{
  background-color: #090808;
}
#video_everyone h3{
  font-size: 1.5rem;
  transition: color 0.3s;
}
#video_everyone p{
  font-size: 0.8rem;
}
#video_everyone .item:hover h3{
  color: red;
}
