
<!-- Start backGround -->
<div class="backGround">
  <div class="overlay"></div>
  <h1 class="position-relative">About Us</h1>
</div>
<!-- End backGround -->

<!-- Start About -->
<section id="about">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="info overflow-hidden">
          <small class="d-block mb-3 fw-bold text-center">The Story</small>
          <h2 class="text-center mb-4">We bring dreams to come to life</h2>
          <div class="wow fadeInUp">
            <div class="text  ">
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat, velit quos ratione eligendi vero qui! Totam, ullam harum. Beatae, repudiandae.</p>
              <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente consequuntur qui a? Unde a tempora libero autem voluptatum recusandae nam perspiciatis non nihil. Beatae sed doloremque, provident aspernatur suscipit eum pariatur saepe? Earum quam ea, accusamus illum, voluptas cum facere incidunt, harum sed nihil quo eos debitis? Aut, iusto vel?</p>
            </div>
            <div class="numbers">
              <div class="row g-4">
                  <div class="col-lg-3 col-sm-6">
                    <div class="num text-center " data-wow-duration="1s" >
                      <h3 class="h2"><span class="purecounter" data-purecounter-start="0" data-purecounter-end="8">8</span><span>M+</span></h3>
                      <small>User Subscribe</small>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                    <div class="num text-center " data-wow-duration="1.25s">
                      <h3 class="h2"><span>135</span><span>+</span></h3>
                      <small>Countries</small>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                    <div class="num text-center " data-wow-duration="1.75s">
                      <h3 class="h2"><span>14</span><span>K+</span></h3>
                      <small>Movie Collections</small>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                    <div class="num text-center " data-wow-duration="2s">
                      <h3 class="h2"><span>950</span><span>M+</span></h3>
                      <small>Employees around the world</small>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Start About -->

<!-- Start The Best Movies -->
<section id="best_movies">
  <div class="overlay"></div>
  <div class="container position-relative">
    <div class="row overflow-hidden">
      <div class="col-md-6">
        <div class="item wow fadeInLeftBig">
          <h2>The best movie and video on your home.</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio molestias iusto atque enim repellendus fuga tempore incidunt, mollitia dolore officia.</p>
          <button type="submit" class="btn rounded-0 text-white fw-bold px-4 py-2">Go Premium</button>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End The Best Movies -->


<!-- Start Video for Every one  -->
<section id="video_everyone">
  <div class="container">
    <h2 class="mb-4 text-center">Video for Everyone</h2>
    <div class="row g-4  ">
      <div class="col-lg-3 col-md-6">
        <div class="item wow fadeInUp " data-wow-duration="1s">
          <div class="image">
            <img class="w-100" src="assets/imgs/everyone/everyone1.jpg" alt="">
          </div>
          <div class="img-info text-center py-4 px-3">
            <h3 class="h5">Family Movies</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam provident, voluptas odio quis nesciunt qui.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="item wow fadeInUp " data-wow-duration="1.25s">
          <div class="image">
            <img class="w-100" src="assets/imgs/everyone/everyone2.jpg" alt="">
          </div>
          <div class="img-info text-center  py-4 px-3">
            <h3 class="h5">Teen Movies</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam provident, voluptas odio quis nesciunt qui.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="item wow fadeInUp " data-wow-duration="1.75s">
          <div class="image">
            <img class="w-100" src="assets/imgs/everyone/everyone3.jpg" alt="">
          </div>
          <div class="img-info text-center  py-4 px-3">
            <h3 class="h5">Kids Movies</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam provident, voluptas odio quis nesciunt qui.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="item wow fadeInUp " data-wow-duration="2s">
          <div class="image">
            <img class="w-100" src="assets/imgs/everyone/everyone4.jpg" alt="">
          </div>
          <div class="img-info text-center  py-4 px-3">
            <h3 class="h5">Sports Video</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam provident, voluptas odio quis nesciunt qui.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- End Video for Every one -->

<!-- Start The Watch Movies -->
<section id="watch_movies">
  <div class="container">
    <div class="row g-4 align-items-center overflow-hidden">
      <div class="col-md-6">
        <div class="item wow fadeInLeftBig" >
          <h2>Watch movie everywhere, anytime.</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
          <button type="submit" class="btn rounded-0 text-white fw-bold px-4 py-2">Descover More</button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="image wow fadeInRightBig">
          <img class="w-100" src="assets/imgs/watch_movies.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End The Watch Movies -->
