
<app-slider [headerTrendingMovies]="trendingMovies"></app-slider>

<section id="Now_Playing" class="py-5">
  <div class="container">
    <div class="h2_container">
      <h2>Now Playing Movies</h2>
      <div class="h2_border"></div>
    </div>
    <div class="row g-4 position-relative">
      <owl-carousel-o [options]="customOptions">
        <ng-container *ngFor="let movie of nowPlaying">
          <ng-template carouselSlide [id]="movie.id.toString()">
            <a class="ancor_img" [routerLink]="['/moviedetails', movie.id]">
              <img
                class="w-100"
                [src]="movie.poster_path ? imgPrefix + movie.poster_path : '' | image: placeholder"
                [alt]="movie.title"
              />
              <div class="vote">
                {{ movie.vote_average | vote }}
              </div>
            </a>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
  </div>
</section>

<section id="Trending" class="py-5 position-relative">
  <div class="container">
    <div class="h2_container">
      <h2>Trending Movies</h2>
      <div class="h2_border"></div>
    </div>


    <div class="row g-4 position-relative">
      <owl-carousel-o [options]="customOptions">
        <ng-container *ngFor="let movie of trendingMovies">
          <ng-template carouselSlide [id]="movie.id.toString()">
            <a
              class="ancor_img"
              [routerLink]="['/moviedetails', movie.id, movie.media_type]"
            >
              <img
                class="w-100"
                [src]="movie.poster_path ? imgPrefix + movie.poster_path : '' | image: placeholder"
                [alt]="movie.title"
              />
              <div class="vote">
                {{ movie.vote_average | vote }}
              </div>
            </a>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
  </div>
</section>

<section id="Popular" class="py-5">
  <div class="container">
    <div class="h2_container">
      <h2>Popular Movies</h2>
      <div class="h2_border"></div>
    </div>

    <div class="row g-4 position-relative">
      <owl-carousel-o [options]="customOptions">
        <ng-container *ngFor="let movie of popular">
          <ng-template carouselSlide [id]="movie.id.toString()">
            <a class="ancor_img" [routerLink]="['/moviedetails', movie.id]">
              <img
                class="w-100"
                [src]="movie.poster_path ? imgPrefix + movie.poster_path : '' | image: placeholder"
                [alt]="movie.title"
              />
              <div class="vote">
                {{ movie.vote_average | vote }}
              </div>
            </a>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
  </div>
</section>

<section id="Top_Rated" class="py-5">
  <div class="container">
    <div class="h2_container">
      <h2>Top Rated Movies</h2>
      <div class="h2_border"></div>
    </div>

    <div class="row g-4 position-relative">
      <owl-carousel-o [options]="customOptions">
        <ng-container *ngFor="let movie of topRated">
          <ng-template carouselSlide [id]="movie.id.toString()">
            <a class="ancor_img" [routerLink]="['/moviedetails', movie.id]">
              <img
                class="w-100"
                [src]="movie.poster_path ? imgPrefix + movie.poster_path : '' | image: placeholder"
                [alt]="movie.title"
              />
              <div class="vote">
                {{ movie.vote_average | vote }}
              </div>
            </a>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
  </div>
</section>

<section id="UpComing" class="py-5">
  <div class="container">
    <div class="h2_container">
      <h2>Up Coming Movies</h2>
      <div class="h2_border"></div>
    </div>

    <div class="row g-4 position-relative">
      <owl-carousel-o [options]="customOptions">
        <ng-container *ngFor="let movie of upComing">
          <ng-template carouselSlide [id]="movie.id.toString()">
            <a class="ancor_img" [routerLink]="['/moviedetails', movie.id]">
              <img
                class="w-100"
                [src]="movie.poster_path ? imgPrefix + movie.poster_path : '' | image: placeholder"
                [alt]="movie.title"
              />
              <div class="vote">
                {{ movie.vote_average | vote }}
              </div>
            </a>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
  </div>
</section>
