.backGround {
  position: relative;
  text-align: center;
  padding: 12rem 0rem;
  background-image: url(../../../../assets/imgs/contact.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 50%;
}
#contact {
  background-color: #090808;
}
.getTouch small,
small a {
  color: #ccc !important;
  transition: color 0.3s;
}
small a:hover {
  color: var(--mainColor) !important;
}
i {
  color: var(--mainColor);
  padding-top: 5px;
}
.group {
  flex-basis: 48%;
}
.contactUs {
  background-color: var(--blackColor);
}
.form-control {
  background-color: #090808;
  color: var(--whiteColor) !important;
  border: 1px solid var(--whiteColor) !important;
}
.form-control::placeholder {
  color: #ccc;
}
.form-control:focus,
.btn:focus {
  border-color: var(--mainColor) !important;
  box-shadow: 0 0 0 0.25rem var(--thirdColor) !important;
}
.btn {
  background-color: var(--mainColor);
  display: block;
  width: 100%;
  transition: background-color 0.3s;
}
.btn:hover {
  background-color: var(--thirdColor) !important;
}
