
<!-- For Tending Tv -->
<section id="tv_details" class="pad pb-5">
  <div class="container">
    <div class="row g-3 py-5">
      <div class="col-lg-7">
        <div class="details d-flex justify-content-center flex-column">
          <h3 class="h1 mb-3">
            {{ tvDetails.title ? tvDetails.title : tvDetails.name }}
          </h3>

          <div class="info">
            <div class="mb-4">
              <span class="spans-style mb-3">Overview</span>
              <p>{{ tvDetails.overview ? tvDetails.overview : "not available"}}</p>
            </div>

            <div class="mb-4">
              <div class="row g-3">
                <div class="col-sm-3">
                  <span class="spans-style">Languages</span>
                </div>
                <div *ngIf="tvDetails.spoken_languages ; else noLanguage" class="col-sm-9 d-flex flex-wrap">
                  <span
                    *ngFor="let x of tvDetails.spoken_languages"
                    class="me-3"
                  >
                    {{ x.name }}
                  </span>
                </div>
                <ng-template #noLanguage>
                  <div class="col-sm-9 d-flex flex-wrap">
                    <span>not available</span>
                  </div>
                </ng-template>
              </div>
            </div>

            <div class="mb-4">
              <div class="row g-3">
                <div class="col-sm-3">
                  <span class="spans-style">Genres</span>
                </div>
                <div *ngIf="tvDetails.genres ; else noGenres" class="col-sm-9 d-flex flex-wrap">
                  <span *ngFor="let x of tvDetails.genres" class="me-3">{{
                    x.name
                  }}</span>
                </div>
                <ng-template #noGenres>
                  <div class="col-sm-9 d-flex flex-wrap">
                    <span>not available</span>
                  </div>
                </ng-template>
              </div>
            </div>

            <div class="mb-4">
              <div class="row g-3">
                <div class="col-sm-6">
                  <div class="row g-2">
                    <div class="col-3">
                      <span class="spans-style">Vote</span>
                    </div>
                    <div class="col-9">
                      <span>{{ tvDetails.vote_average ? tvDetails.vote_average+ " " + "Rate" : "not available" }} </span>
                    </div>
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="row g-2">
                    <div class="col-4">
                      <span class="spans-style">Released</span>
                    </div>
                    <div class="col-8">
                      <span class="ms-3">{{ tvDetails.first_air_date ? tvDetails.first_air_date : "not available" }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="mb-4">
              <div class="row g-3">
                <div class="col-lg-4">
                  <span class="spans-style">Production_Countries</span>
                </div>
                <div class="col-lg-8" *ngIf="tvDetails.production_countries ; else noProCountries">
                  <span
                    *ngFor="let x of tvDetails.production_countries"
                    class="ms-md-5 ms-0 d-inline"
                    >{{ x.name }}</span
                  >
                </div>
                <ng-template #noProCountries>
                  <div class="col-lg-8">
                    <span>not available</span>
                  </div>
                </ng-template>
              </div>
            </div>

            <div>
              <span class="spans-style mb-3 me-3">production_Companies</span>
              <div *ngIf="tvDetails.production_companies ; else noCompanies" class="row g-4">
                <div
                  *ngFor="let x of tvDetails.production_companies?.slice(0, 4)"
                  class="col company_img_container"
                >
                  <img
                    class="company-img"
                    [src]=" imgPrefix + x.logo_path "
                    [alt]="x.name"
                  />
                </div>
              </div>
              <ng-template #noCompanies>
                <p class="text-center mb-0">not available</p>
              </ng-template>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 offset-lg-1">
        <div class="image poster">
          <img
            class="w-100"
            [src]="tvDetails.poster_path ? imgPrefix + tvDetails.poster_path : '' | image: placeholder"
            [alt]="tvDetails.title ? tvDetails.title : tvDetails.name"
          />
        </div>
      </div>
    </div>

    <div class="border"></div>

    <div class="row g-3 pb-5">
      <div class="col-12">
        <h3 class="h1 mb-3">Tv Trailer</h3>
        <div *ngIf="isTrailer" class="no_trailer">
          Trailer Not Available Now For This Tv
        </div>
        <div *ngIf="!isTrailer" class="Trailer_container"></div>
      </div>
    </div>

    <div class="border"></div>

    <div class="row g-4 justify-content-center">
        <h3 class="h1 mb-3">Tv Cast</h3>
        <div *ngIf=" tvCast ;else noCast" [ngClass]="  tvCast.length < 4 ? 'col-md-6 col-12' : 'col-12'
                        ">
          <owl-carousel-o [options]="customOptions">
            <ng-container *ngFor="let cast of tvCast">
              <ng-template carouselSlide [id]="cast.id">
                <a class="ancor_img" [routerLink]="['/castDetails', cast.id , cast.gender]">
                  <img
                    class="w-100"
                    [src]="cast.profile_path ? imgPrefix+cast.profile_path : ''   | image: placeholder"
                    [alt]="cast.original_name ? cast.original_name : cast.name"
                  />
                </a>
                <div class="cast_info">
                  <span>{{cast.original_name ? cast.original_name : cast.name}} &nbsp; | &nbsp; <span class="character">{{cast.character}}</span></span>
                </div>
              </ng-template>
            </ng-container>
          </owl-carousel-o>
        </div>

        <ng-template #noCast>
          <p class="fw-bold fs-3 text-center" >No Cast Available</p>
        </ng-template>
    </div>
  </div>
</section>
<!--End For Tending Movie -->
