#optionsBox{
  position: fixed;
  top: 100px;
  right: -243px;
  z-index: 999999;
  cursor: pointer;

}

#optionsBox ul li{
color:#808080;
}
#optionsBox ul li:first-child{
color: #333;
font-weight: bold;
}

.colors-box{
  padding: 15px;
  background-color: #fff  ;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 1px 2px rgb(35 35 35 / 10%), transparent 0 0 0, transparent 0 0 0;;
}
.color-items{
  display: flex;
  justify-content: center;
  align-items: center;
}
.item{
  width: 30px;
  height: 30px;
  margin: 2px;
  background-color: coral;
  cursor: pointer;
}
.item:nth-child(1){
  background-color: #ff0000;
}
.item:nth-child(2){
  background-color: #0d6efd;
}
.item:nth-child(3){
  background-color: #F67F1D;
}
#toggleBtn{
  padding: 8px;
  color: var(--whiteColor);
  font-size: 18px;
  background: var(--mainColor);
  float: left;
  cursor: pointer;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
#toggleBtn:hover{
  background: var(--thirdColor);
}
