@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Montserrat+Alternates&display=swap');

body{
  font-family: 'Montserrat Alternates', sans-serif;
  background-color: #000000;
  color: #fff;
  overflow-x: hidden;
}
a{
  text-decoration: none !important;
  color: #fff !important;
}
::selection {
  background-color: red;
  color: white;
}
::-moz-selection {
  background-color: red;
  color: white;
}
body::-webkit-scrollbar,
.offcanvas-body::-webkit-scrollbar,
.modal::-webkit-scrollbar {
  width: 0.8rem;
}
body::-webkit-scrollbar-track,
.offcanvas-body::-webkit-scrollbar-track,
.modal::-webkit-scrollbar-track  {
  background: rgba(255, 0, 0, 0.342);
}
body::-webkit-scrollbar-thumb,
.offcanvas-body::-webkit-scrollbar-thumb,
.modal::-webkit-scrollbar-thumb {
  background-color: red;
  border-radius: 20px;
  border: 5px solid red;
}
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
.ngx_spinner{
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
}
/* Home Component */
#Trending .owl-carousel,#Trending .owl-carousel .owl-item,
#Now_Playing .owl-carousel,#Now_Playing .owl-carousel .owl-item,
#Popular .owl-carousel,#Popular .owl-carousel .owl-item,
#Top_Rated .owl-carousel,#Top_Rated .owl-carousel .owl-item,
#UpComing .owl-carousel,#UpComing .owl-carousel .owl-item{
  position:initial;
}
#Trending .owl-nav,
#Now_Playing .owl-nav,
#Popular .owl-nav,
#Top_Rated .owl-nav,
#UpComing .owl-nav{
  margin-top: 10px;
  position: absolute ;
  top: -55px ;
  right: 2px ;
  font-weight: bold;
  display: flex !important;
}
#Trending .owl-prev,#Trending .owl-next,
#Now_Playing .owl-prev,#Now_Playing .owl-next,
#Popular .owl-prev,#Popular .owl-next,
#Top_Rated .owl-prev,#Top_Rated .owl-next,
#UpComing .owl-prev,#UpComing .owl-next{
  display: flex !important;
  justify-content: center;
  align-items: center;
  font-size: 20px !important;
  font-weight: bold;
  transition: color 0.3s;
  background-color: transparent !important;
}
#Trending .owl-prev:hover,#Trending .owl-next:hover,
#Now_Playing .owl-prev:hover,#Now_Playing .owl-next:hover,
#Popular .owl-prev:hover,#Popular .owl-next:hover,
#Top_Rated .owl-prev:hover,#Top_Rated .owl-next:hover,
#UpComing .owl-prev:hover,#UpComing .owl-next:hover{
  color: red;
}
#Trending .owl-prev i,#Trending .owl-next i,
#Now_Playing .owl-prev i,#Now_Playing .owl-next i,
#Popular .owl-prev i,#Popular .owl-next i,
#Top_Rated .owl-prev i,#Top_Rated .owl-next i,
#UpComing .owl-prev i,#UpComing .owl-next i{
  font-size: 25px;
  font-style: italic;
}
@media (max-width:767px) {
  #Trending .owl-nav,
  #Now_Playing .owl-nav,
  #Popular .owl-nav,
  #Top_Rated .owl-nav,
  #UpComing .owl-nav{top: -51px;}

  #Trending .owl-prev i,#Trending .owl-next i,
  #Now_Playing .owl-prev i,#Now_Playing .owl-next i,
  #Popular .owl-prev i,#Popular .owl-next i,
  #Top_Rated .owl-prev i,#Top_Rated .owl-next i,
  #UpComing .owl-prev i,#UpComing .owl-next i{
    font-size: 1.2rem;
    font-style: italic;
  }
}
/*End Home Component */
/* loading */
.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  z-index: 99999999999;
  display: none;
  }
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: rgb(255, 0, 0);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
/* End loading */
/* Start Overlay on Movie */
.ancor_img, .poster{
  position: relative;
  display: block;
}
.ancor_img::before,
.poster::before{
  content: 'Click Here To Show Movie Details';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #6a0000ba;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  opacity: 0;
  transition: opacity .5s;
  -webkit-transition: opacity .5s;
  -moz-transition: opacity .5s;
  -ms-transition: opacity .5s;
  -o-transition: opacity .5s;
}
.ancor_img:hover::before,
.poster:hover::before
{
  opacity: 1;
  cursor: pointer;
}
/* End Overlay on Movie */
/* Start Vote */
.vote{
  width: 30px;
  height: 30px;
  padding: 0.5rem;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  position: absolute;
  top: 0;
  right: 30px;
  font-size: 0.8rem;
  font-weight: bold;
}
/* End Vote */
